<div class="btn-group" *ngIf="detailView">
  <button mat-raised-button type="button" (click)="onBack()">Back</button>
  <button mat-raised-button color="primary" type="button" (click)="onEdit()">
    Edit
  </button>
  <button mat-raised-button color="warn" type="button" (click)="onDelete()">
    Delete
  </button>
</div>
<div class="col-md-12">
  <h3>Tax Invoice</h3>
  <!-- company detail -->
  <table class="table company_detail">
    <thead>
      <tr>
        <td [innerHTML]="admin?.company_detail"></td>
        <td [innerHTML]="admin?.company_contact"></td>
      </tr>
      <tr>
        <td>Comapny: {{ invoiceData?.company }}</td>
        <td>Invoice No. {{ invoiceData?.invoice_no }}</td>
      </tr>
      <tr>
        <td *ngIf="!invoiceData?.gst_no"></td>
        <td *ngIf="invoiceData?.gst_no">GST No: {{ invoiceData?.gst_no }}</td>
        <td>Date.: {{ invoiceData?.date }}</td>
      </tr>
    </thead>
  </table>
  <!-- end company detail -->

  <table class="table product_table">
    <thead>
      <tr>
        <th>S.No.</th>
        <th>Description</th>
        <th>HSN</th>
        <th>Quantity</th>
        <th>Rate</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <!-- for cards -->
      <tr *ngIf="invoiceData?.cardGroup.title?.viewValue != null">
        <td>1</td>
        <td>
          {{ invoiceData?.cardGroup?.title?.viewValue }}
        </td>
        <td></td>
        <td>{{ invoiceData?.cardGroup?.quantity }}</td>
        <td>{{ invoiceData?.cardGroup?.price }}</td>
        <td>
          {{ invoiceData?.cardGroup?.quantity * invoiceData?.cardGroup?.price }}
        </td>
      </tr>

      <!-- for holder -->
      <tr *ngIf="invoiceData?.holderGroup.title?.viewValue != null">
        <td>2</td>
        <td>
          {{ invoiceData?.holderGroup?.title?.viewValue }}
        </td>
        <td></td>
        <td>{{ invoiceData?.holderGroup?.quantity }}</td>
        <td>{{ invoiceData?.holderGroup?.price }}</td>
        <td>
          {{
            invoiceData?.holderGroup?.quantity * invoiceData?.holderGroup?.price
          }}
        </td>
      </tr>

      <!-- for lanyard -->
      <tr *ngIf="invoiceData?.lanyardGroup.title?.viewValue != null">
        <td>3</td>
        <td>
          {{ invoiceData?.lanyardGroup?.title?.viewValue }} <br />
          <ul class="small">
            <li *ngFor="let des of invoiceData?.lanyardGroup?.title?.desc">
              {{ des.des }}
            </li>
          </ul>
        </td>
        <td></td>
        <td>{{ invoiceData?.lanyardGroup?.quantity }}</td>
        <td>{{ invoiceData?.lanyardGroup?.price }}</td>
        <td>
          {{
            invoiceData?.lanyardGroup?.quantity *
              invoiceData?.lanyardGroup?.price
          }}
        </td>
      </tr>

      <!-- Discount -->
      <tr *ngIf="invoiceData?.discount">
        <th colspan="5">Discount Price</th>
        <th>{{ invoiceData?.discount }}</th>
      </tr>

      <!-- Total Before Tax -->
      <tr>
        <th colspan="5">Total before tax</th>
        <th>{{ priceBeforeTax }}</th>
      </tr>
    </tbody>
  </table>

  <!-- SCGST Table -->
  <table class="table scgst_table">
    <tbody>
      <!-- SCGST -->
      <tr *ngIf="location_edit || location_edit_innter">
        <th></th>
        <th colspan="2">CGST</th>
        <th></th>
        <th colspan="2">SGST</th>
        <th></th>
      </tr>
      <tr *ngIf="location_edit || location_edit_innter">
        <td></td>
        <td>Rate</td>
        <td>Amount</td>
        <td></td>
        <td>Rate</td>
        <td>Amount</td>
        <td></td>
      </tr>

      <tr *ngIf="location_edit_innter">
        <td></td>
        <td>9%</td>
        <td>{{ (card_gst + holder_gst + lanyard_gst).toFixed(2) }}</td>
        <td></td>
        <td>9%</td>
        <td>
          {{ (card_gst + holder_gst + lanyard_gst).toFixed(2) }}
        </td>
        <td></td>
      </tr>

      <tr
        *ngIf="
          location_edit && invoiceData?.cardGroup?.title?.viewValue != null
        "
      >
        <td>1</td>
        <td>9%</td>
        <td>{{ card_gst }}</td>
        <td></td>
        <td>9%</td>
        <td>{{ card_gst }}</td>
        <td></td>
      </tr>
      <tr
        *ngIf="
          location_edit && invoiceData?.holderGroup?.title?.viewValue != null
        "
      >
        <td>2</td>
        <td>9%</td>
        <td>{{ holder_gst }}</td>
        <td></td>
        <td>9%</td>
        <td>{{ holder_gst }}</td>
        <td></td>
      </tr>
      <tr
        *ngIf="
          location_edit && invoiceData?.lanyardGroup?.title?.viewValue != null
        "
      >
        <td>3</td>
        <td>9%</td>
        <td>{{ lanyard_gst }}</td>
        <td></td>
        <td>9%</td>
        <td>{{ lanyard_gst }}</td>
        <td></td>
      </tr>

      <!-- total tax -->
      <tr *ngIf="location_edit || location_edit_innter" class="total_tax">
        <th colspan="2">Total Tax</th>
        <th>{{ (card_gst + holder_gst + lanyard_gst).toFixed(2) }}</th>
        <th colspan="2"></th>
        <th>{{ (card_gst + holder_gst + lanyard_gst).toFixed(2) }}</th>
        <th>{{ total_tax.toFixed(2) }}</th>
      </tr>
    </tbody>
  </table>

  <!-- IGST Table-->
  <table class="table igst_table">
    <tbody>
      <tr *ngIf="location_edit2 || location_edit_innter2">
        <th></th>
        <th colspan="2">IGST</th>
        <th></th>
      </tr>
      <tr *ngIf="location_edit2 || location_edit_innter2">
        <td></td>
        <td>Rate</td>
        <td>Amount</td>
        <td></td>
      </tr>
      <tr *ngIf="location_edit_innter2">
        <td></td>
        <td>18%</td>
        <td>
          {{ (card_igst + holder_igst + lanyard_igst).toFixed(2) }}
        </td>
        <td></td>
      </tr>
      <tr
        *ngIf="
          location_edit2 && invoiceData?.cardGroup?.title?.viewValue != null
        "
      >
        <td>1</td>
        <td>18%</td>
        <td>{{ card_igst }}</td>
        <td></td>
      </tr>
      <tr
        *ngIf="
          location_edit2 && invoiceData?.holderGroup?.title?.viewValue != null
        "
      >
        <td>2</td>
        <td>18%</td>
        <td>{{ holder_igst }}</td>
        <td></td>
      </tr>
      <tr
        *ngIf="
          location_edit2 && invoiceData?.lanyardGroup?.title?.viewValue != null
        "
      >
        <td>3</td>
        <td>18%</td>
        <td>{{ lanyard_igst }}</td>
        <td></td>
      </tr>

      <!-- total tax -->
      <tr *ngIf="location_edit2 || location_edit_innter2" class="total_tax">
        <th colspan="2">Total Tax</th>
        <th>{{ (card_igst + holder_igst + lanyard_igst).toFixed(2) }}</th>
        <th>{{ total_tax.toFixed(2) }}</th>
      </tr>
    </tbody>
  </table>

  <!-- Total Tax and Gross Total -->
  <table class="table">
    <tbody>
      <tr>
        <th colspan="5">Gross Total</th>
        <th class="text-end">{{ gross_total.toFixed(2) }}</th>
      </tr>
    </tbody>
  </table>

  <!-- bank detail -->
  <table class="table">
    <tbody>
      <tr>
        <th style="background: none">Bank Details</th>
      </tr>
      <tr>
        <td [innerHTML]="admin?.bankDetail"></td>
      </tr>
    </tbody>
  </table>

  <!-- terms and conditions -->
  <table class="table">
    <tr class="small">
      <td colspan="2">Terms & Conditions</td>
    </tr>
    <tr class="small">
      <td
        colspan="2"
        style="height: 150px; vertical-align: top"
        [innerHTML]="admin?.terms_conditions"
      ></td>
    </tr>
    <tr>
      <td>For Creation Graphics</td>
      <td class="text-end">Authorised Signatory</td>
    </tr>
  </table>
</div>
