<div class="row">
  <div class="col-md-6 offset-md-3 print_hide">
    <h3>Get Quatation</h3>
    <form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="w-100">
        <input
          matInput
          placeholder="Invoice No:"
          formControlName="invoice_no"
          #invoice_no
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          mat-raised-button
          color="warn"
          *ngIf="invoice_no.value.length"
          (click)="invoice_no.value = ''"
        >
          <i class="bi bi-x"></i>
        </button>
      </mat-form-field>
      <mat-form-field class="w-50">
        <input
          matInput
          placeholder="Comapany Name:"
          formControlName="company"
          #company
        />
      </mat-form-field>
      <mat-radio-group class="w-50" formControlName="comapny_register">
        <mat-radio-button value="register">Register</mat-radio-button>
        <mat-radio-button value="unregister">Unregister</mat-radio-button>
      </mat-radio-group>
      <mat-form-field class="w-50" *ngIf="gst_no_edit">
        <input
          matInput
          placeholder="GST No:"
          formControlName="gst_no"
          #gst_no
        />
      </mat-form-field>
      <mat-form-field [ngClass]="gst_no_edit ? 'w-50' : 'w-100'">
        <input
          type="date"
          matInput
          placeholder="Date:"
          formControlName="date"
          #date
        />
      </mat-form-field>
      <mat-form-field class="w-10">
        <input matInput placeholder="S.N" formControlName="card_s" />
      </mat-form-field>
      <mat-form-field class="w-60">
        <mat-select placeholder="Select Cards" formControlName="card">
          <mat-option *ngFor="let card of admin.cards" [value]="card">
            {{ card.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w-10">
        <input
          matInput
          placeholder="Quantity"
          formControlName="card_q"
          #card_q
        />
      </mat-form-field>
      <mat-form-field class="w-20">
        <input
          matInput
          placeholder="Price"
          formControlName="card_p"
          [value]="card_p"
          #card_price
        />
      </mat-form-field>
      <mat-form-field class="w-10">
        <input matInput placeholder="S.N" formControlName="holder_s" />
      </mat-form-field>
      <mat-form-field class="w-60">
        <mat-select placeholder="Select Holders" formControlName="holder">
          <mat-option *ngFor="let holder of admin.holders" [value]="holder">
            {{ holder.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w-10">
        <input
          matInput
          placeholder="Quantity"
          formControlName="holder_q"
          #holder_q
        />
      </mat-form-field>
      <mat-form-field class="w-20">
        <input
          matInput
          placeholder="Price"
          formControlName="holder_p"
          [value]="holder_p"
          #holder_price
        />
      </mat-form-field>

      <mat-form-field class="w-10">
        <input matInput placeholder="S.N" formControlName="lanyard_s" />
      </mat-form-field>
      <mat-form-field class="w-60">
        <mat-select placeholder="Select Lanyards" formControlName="lanyard">
          <mat-option *ngFor="let lanyard of admin.lanyards" [value]="lanyard">
            {{ lanyard.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w-10">
        <input
          matInput
          placeholder="Quantity"
          formControlName="lanyard_q"
          #lanyard_q
        />
      </mat-form-field>
      <mat-form-field class="w-20">
        <input
          matInput
          placeholder="Price"
          formControlName="lanyard_p"
          [value]="lanyard_p"
          #lanyard_price
        />
      </mat-form-field>
      <mat-form-field class="w-100">
        <mat-select placeholder="Select Location" formControlName="location">
          <mat-option
            *ngFor="let location of admin.locations"
            [value]="location"
          >
            {{ location.state }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w-100">
        <input matInput placeholder="Discount" formControlName="discount" />
      </mat-form-field>
      <div class="btn-group">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-warning" (click)="onCancel()">
          Cancel
        </button>
      </div>
    </form>
  </div>
  <div class="col-md-12">
    <h3>Tax Invoice</h3>
    <!-- company detail -->
    <table class="table company_detail">
      <thead>
        <tr>
          <td [innerHTML]="admin.company_detail"></td>
          <td [innerHTML]="admin.company_contact"></td>
        </tr>
        <tr>
          <td>Comapny: {{ company.value }}</td>
          <td>Invoice No. {{ invoice_no.value }}</td>
        </tr>
        <tr>
          <td *ngIf="!gst_no_edit"></td>
          <td *ngIf="gst_no_edit">GST No: {{ invoiceForm.value.gst_no }}</td>
          <td>Date.: {{ date.value }}</td>
        </tr>
      </thead>
    </table>
    <!-- end company detail -->

    <table class="table">
      <thead>
        <tr>
          <th>S.No.</th>
          <th>Description</th>
          <th>HSN</th>
          <th>Quantity</th>
          <th>Rate</th>
          <th class="text-end">Total</th>
        </tr>
      </thead>
      <tbody>
        <!-- for cards -->
        <tr *ngIf="invoiceForm.value.card.viewValue != null">
          <td>{{ invoiceForm.value.card_s }}</td>
          <td>
            {{ invoiceForm.value.card.viewValue }}
          </td>
          <td></td>
          <td>{{ card_q.value }}</td>
          <td>{{ card_price.value }}</td>
          <td class="text-end">
            {{ card_q.value * card_price.value }}
          </td>
        </tr>

        <!-- for holder -->
        <tr *ngIf="invoiceForm.value.holder.viewValue != null">
          <td>{{ invoiceForm.value.holder_s }}</td>
          <td>
            {{ invoiceForm.value.holder.viewValue }}
          </td>
          <td></td>
          <td>{{ holder_q.value }}</td>
          <td>{{ holder_price.value }}</td>
          <td colspan="2" class="text-right">
            {{ holder_q.value * holder_price.value }}
          </td>
        </tr>

        <!-- for lanyard -->
        <tr *ngIf="invoiceForm.value.lanyard.viewValue != null">
          <td>{{ invoiceForm.value.lanyard_s }}</td>
          <td>
            {{ invoiceForm.value.lanyard.viewValue }} <br />
            <ul class="small">
              <li *ngFor="let des of invoiceForm.value.lanyard.desc">
                {{ des.des }}
              </li>
            </ul>
          </td>
          <td></td>
          <td>{{ lanyard_q.value }}</td>
          <td>{{ lanyard_price.value }}</td>
          <td colspan="2" class="text-right">
            {{ lanyard_q.value * lanyard_price.value }}
          </td>
        </tr>

        <!-- Discount -->
        <tr *ngIf="discount_edit">
          <th colspan="5">Discount Price</th>
          <th class="text-end">{{ discount }}</th>
        </tr>

        <!-- Total Before Tax -->
        <tr>
          <th colspan="5">Total before tax</th>
          <th class="text-end">{{ priceBeforeTax }}</th>
        </tr>
      </tbody>
    </table>

    <!-- SCGST Table -->
    <table class="table scgst_table">
      <tbody>
        <!-- SCGST -->
        <tr *ngIf="location_edit || location_edit_innter">
          <th></th>
          <th colspan="2">CGST</th>
          <th></th>
          <th colspan="2">SGST</th>
          <th></th>
        </tr>
        <tr *ngIf="location_edit || location_edit_innter">
          <td></td>
          <td>Rate</td>
          <td>Amount</td>
          <td></td>
          <td>Rate</td>
          <td>Amount</td>
          <td></td>
        </tr>

        <tr *ngIf="location_edit_innter">
          <td></td>
          <td>9%</td>
          <td>{{ (card_gst + holder_gst + lanyard_gst).toFixed(2) }}</td>
          <td></td>
          <td>9%</td>
          <td>
            {{ (card_gst + holder_gst + lanyard_gst).toFixed(2) }}
          </td>
          <td></td>
        </tr>

        <tr *ngIf="location_edit && invoiceForm.value.card.viewValue != null">
          <td>{{ invoiceForm.value.card_s }}</td>
          <td>9%</td>
          <td>{{ card_gst }}</td>
          <td></td>
          <td>9%</td>
          <td>{{ card_gst }}</td>
          <td></td>
        </tr>
        <tr *ngIf="location_edit && invoiceForm.value.holder.viewValue != null">
          <td>{{ invoiceForm.value.holder_s }}</td>
          <td>9%</td>
          <td>{{ holder_gst }}</td>
          <td></td>
          <td>9%</td>
          <td>{{ holder_gst }}</td>
          <td></td>
        </tr>
        <tr
          *ngIf="location_edit && invoiceForm.value.lanyard.viewValue != null"
        >
          <td>{{ invoiceForm.value.lanyard_s }}</td>
          <td>9%</td>
          <td>{{ lanyard_gst }}</td>
          <td></td>
          <td>9%</td>
          <td>{{ lanyard_gst }}</td>
          <td></td>
        </tr>

        <!-- total tax -->
        <tr *ngIf="location_edit || location_edit_innter" class="total_tax">
          <th colspan="2">Total Tax</th>
          <th>{{ (card_gst + holder_gst + lanyard_gst).toFixed(2) }}</th>
          <th colspan="2"></th>
          <th>{{ (card_gst + holder_gst + lanyard_gst).toFixed(2) }}</th>
          <th>{{ total_tax.toFixed(2) }}</th>
        </tr>
      </tbody>
    </table>

    <!-- IGST Table-->
    <table class="table igst_table">
      <tbody>
        <tr *ngIf="location_edit2 || location_edit_innter2">
          <th></th>
          <th colspan="2">IGST</th>
          <th></th>
        </tr>
        <tr *ngIf="location_edit2 || location_edit_innter2">
          <td></td>
          <td>Rate</td>
          <td>Amount</td>
          <td></td>
        </tr>
        <tr *ngIf="location_edit_innter2">
          <td></td>
          <td>18%</td>
          <td>
            {{ (card_igst + holder_igst + lanyard_igst).toFixed(2) }}
          </td>
          <td></td>
        </tr>
        <tr *ngIf="location_edit2 && invoiceForm.value.card.viewValue != null">
          <td>{{ invoiceForm.value.card_s }}</td>
          <td>18%</td>
          <td>{{ card_igst }}</td>
          <td></td>
        </tr>
        <tr
          *ngIf="location_edit2 && invoiceForm.value.holder.viewValue != null"
        >
          <td>{{ invoiceForm.value.holder_s }}</td>
          <td>18%</td>
          <td>{{ holder_igst }}</td>
          <td></td>
        </tr>
        <tr
          *ngIf="location_edit2 && invoiceForm.value.lanyard.viewValue != null"
        >
          <td>{{ invoiceForm.value.lanyard_s }}</td>
          <td>18%</td>
          <td>{{ lanyard_igst }}</td>
          <td></td>
        </tr>

        <!-- total tax -->
        <tr *ngIf="location_edit2 || location_edit_innter2" class="total_tax">
          <th colspan="2">Total Tax</th>
          <th>{{ (card_igst + holder_igst + lanyard_igst).toFixed(2) }}</th>
          <th>{{ total_tax.toFixed(2) }}</th>
        </tr>
      </tbody>
    </table>

    <!-- Total Tax and Gross Total -->
    <table class="table">
      <tbody>
        <tr>
          <th colspan="5">Gross Total</th>
          <th class="text-end">{{ gross_total.toFixed() }}</th>
        </tr>
      </tbody>
    </table>

    <!-- bank detail -->
    <table class="table">
      <tbody>
        <tr>
          <th style="background: none">Bank Details</th>
        </tr>
        <tr>
          <td>
            Bank Name: HDFC Bank <br />
            Account Name: Creation Graphics <br />
            Account No.: 03272000006608 <br />
            IFSC Code: HDFC0000327 <br />
          </td>
        </tr>
      </tbody>
    </table>

    <!-- terms and conditions -->
    <table class="table">
      <tr class="small">
        <td colspan="2">Terms & Conditions</td>
      </tr>
      <tr class="small">
        <td colspan="2" style="height: 150px; vertical-align: top">
          1. Printing Quality/Color May be different. <br />
          2. Materials will be provided as per availability. <br />
          3. No Product will be replaced after delivery. <br />
        </td>
      </tr>
      <tr>
        <td>For Creation Graphics</td>
        <td class="text-end">Authorised Signatory</td>
      </tr>
    </table>
  </div>
</div>
