<div class="col-md-6 offset-md-3 print_hide">
  <h3>Login</h3>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="User Name"
        formControlName="user"
      />
      <label for="floatingInput">User Name</label>
    </div>

    <div class="form-floating mb-3">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
        formControlName="password"
      />
      <label for="floatingPassword">Password</label>
    </div>
    <div class="btn-group">
      <button
        [disabled]="!loginForm.valid"
        type="submit"
        class="btn btn-primary"
      >
        Submit
      </button>
    </div>
  </form>
</div>
