<h3>Invoices</h3>
<button mat-raised-button color="primary" type="button" (click)="add()">
  Add Invoice
</button>
<div class="table-responsive">
  <table class="table table-sm">
    <thead>
      <tr>
        <th>S.N.</th>
        <th class="w-75">Invoice No</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let invoice of invoice_list; let i = index">
        <td>{{ i }}</td>
        <td>{{ invoice.invoice_no }}</td>
        <td>
          <div class="btn-group">
            <button mat-raised-button type="button" (click)="view(i)">
              View
            </button>
            <button
              mat-raised-button
              color="warn"
              type="button"
              (click)="delete(i)"
            >
              Delete
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
